.Main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.Logout{
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    gap: 3rem;
    text-align: justify;
}

h1{
    font-size: 4rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.238);
}